.small-flat-card {
    /* width: 25rem;
    height: 26rem; */
    padding: 2rem;
    border-radius: 20px;
    box-shadow: var(--shadow);
    border: 1px solid var(--border-color);
    text-align: center;
    transition: var(--transition);
    position: relative;
    overflow: hidden;

    .card-icon {
        font-size: 4rem;
        padding: 1rem;
        margin: auto;
    }

    .card-heading {
        font-size: 1.3rem;
        font-weight: 600;
        margin: 1.5rem 0 1rem 0;
        color: var(--text-color);
    }
}